/**
 * Animate Component Demo Style for Uxcore
 * @author eternalsky
 *
 * Copyright 2014-2015, Uxcore Team, Alinw.
 * All rights reserved.
 */

@import "../node_modules/uxcore-kuma/src/variables";
@import "../src/Animate.less";

.demo-select {
    width: 200px;
    margin-bottom: 10px;
}

.demoContent {
  height: 60px;
  line-height: 60px;
  font-size: 14px;
}
.demoContent .kuma-icon {
  font-size: 18px;
  color: #ff7e29;
  margin-right: 10px;
  vertical-align: middle;
}
.demoButton .kuma-button + .kuma-button {
  margin-left: 10px;
}

h1 {
    font-size: 22px;
    line-height: 36px;
}


// .zoom-enter,.zoom-appear {
//     animation-duration: .2s;
//     animation-fill-mode: both;
//     animation-play-state: paused
// }

// .zoom-leave {
//     animation-duration: .2s;
//     animation-fill-mode: both;
//     animation-play-state: paused
// }

// .zoom-enter.zoom-enter-active,.zoom-appear.zoom-appear-active {
//     animation-name: antZoomIn;
//     animation-play-state: running
// }

// .zoom-leave.zoom-leave-active {
//     animation-name: antZoomOut;
//     animation-play-state: running
// }

// .zoom-enter,.zoom-appear {
//     transform: scale(0);
//     animation-timing-function: cubic-bezier(.08, .82, .17, 1)
// }

// .zoom-leave {
//     animation-timing-function: cubic-bezier(.78, .14, .15, .86)
// }

// @keyframes antZoomIn {
//     0% {
//         opacity: 0;
//         transform: scale(0)
//     }

//     100% {
//         transform: scale(1)
//     }
// }

// @keyframes antZoomOut {
//     0% {
//         transform: scale(1)
//     }

//     100% {
//         opacity: 0;
//         transform: scale(0)
//     }
// }

// @keyframes antZoomBigIn {
//     0% {
//         opacity: 0;
//         transform: scale(.8)
//     }

//     100% {
//         transform: scale(1)
//     }
// }
